.navbar {
    background: rgb(32, 32, 32);
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logoBox {
    margin-bottom: 100px;
    margin-top: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.name {
    /* color: #F4AB4F; */
    font-family: "Poppins", serif;
    color: rgb(222, 222, 222);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navList {
    display: flex;
    flex-direction: column;
}

.navList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-bottom: 1px solid #e29a3d5b;
    overflow: hidden;
    position: relative;
}

.navList li a {
    color: rgb(222, 222, 222);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all ease .3s;
}

.navList li a:hover {
    color: #f4ab4f;
}

.navList li .icon {
    color: white;
    font-size: 40px;
    color: #f4ab4f;
    cursor: pointer;
    margin-bottom: 10px;
}

.navList .last {
    border: none;
}